./.vs/
//bin
//obj
/bin
/obj
/.vs/KundaliWeb
/KundaliWeb/obj/
/.vs/ProjectEvaluation
/KundaliWeb/obj/KundaliWeb.csproj.nuget.dgspec.json
/KundaliWeb/obj/project.assets.json
/KundaliWeb/obj/project.nuget.cache
/KundaliWeb/obj/Debug/net10.0/KundaliWeb.assets.cache
/KundaliWeb/obj/Debug/net10.0/KundaliWeb.GlobalUsings.g.cs
/KundaliWeb/obj/KundaliWeb.csproj.nuget.g.props
/KundaliWeb/bin/Debug/net9.0
/KundaliWeb/obj/Debug/net10.0/KundaliWeb.GlobalUsings.g.cs
/KundaliWeb/obj/Debug/net10.0/KundaliWeb.assets.cache
/KundaliWeb/obj/KundaliWeb.csproj.nuget.dgspec.json
/KundaliWeb/obj/KundaliWeb.csproj.nuget.g.props
/KundaliWeb/obj/project.assets.json
/KundaliWeb/obj/project.nuget.cache
/KundaliWeb/astrology_chart.png
/KundaliWeb/astrology_chart_today.png
/.vs/CopilotSnapshots/D3AB9591A85DF8469C96FBBEF57B8AA3
