@{
    ViewData["Title"] = "References";
}
<h1>@ViewData["Title"]</h1>

<object type="image/png"
        data="https://astrosaxena.com/control/gallery/page718Houses%20in%20Astrology%20Chart.jpg"
        aria-label="This image should exist, but alas it does not">
    <img src="/images/housesign.jpg" alt="Fallback image" />
</object>


<p><a href="https://www.astrology.com/birth-chart" target="_blank">Birth Chart</a></p>
<p><a href="https://www.horoscope.com/astrology/houses/" target="_blank">Houses</a></p>
<p><a href="https://www.horoscope.com/astrology/aspects/" target="_blank">Aspects</a></p>
<p><a href="https://astrolibrary.org/interpretations/" target="_blank">Interpretations</a></p>
<p><a href="https://horoscopes.astro-seek.com/retrograde-planets-astrology-calendar-2025" target="_blank">Planets Retro</a></p>